<div *ngIf="tableMode; else CreateOrUpdate">
  <div class="container">
    <div class="table-wrapper">
      <!-- Заголовок таблицы -->
      <div class="table-title">
        <div class="row">
          <div class="col-sm-12 d-inline-flex">
            <div class="mr-auto">
              <h2 *ngIf="type==1;else statuss"><b>Членство в международных организациях</b></h2>
              <ng-template #statuss>
                <h2><b>Членство в редколлегиях российских и иностранных журналов</b></h2>
              </ng-template>
            </div>
            <div class="input-group w-auto">
              <div class="input-group-append">

                <!-- Тут короче фикс под себя надо-->
                <button type="button" class="btn btn-warning ml-2" (click)="add()">
                  <span><b>Новое</b></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Таблица приглашений -->
      <table class="table table-hover table-dark">
        <thead>
          <tr *ngIf="type==1;else tbtb">
            <th scope="col">#</th>
            <th scope="col">Наименование организации</th>
            <th scope="col">Cтатус в организации</th>
            <th scope="col">Сайт организации</th>
            <th scope="col">Дата вступления</th>
            <th scope="col">Действия</th>
          </tr>
          <ng-template #tbtb>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование журнала</th>
              <th scope="col">Статус в редколлегии журнала</th>
              <th scope="col">Сайт журнала</th>
              <th scope="col">Дата вступления</th>
              <th scope="col">Действия</th>
            </tr>
          </ng-template>
        </thead>
        <tbody>
          <tr *ngFor="let membership of memberships; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{membership.nameOfCompany}}</td>
            <td>{{membership.statusInTheOrganization}}</td>
            <td>
              <p *ngIf="type==1;else other">
                {{membership.siteOfTheOrganization}}
              </p>
              <ng-template #other>
                <p>
                  {{membership.siteOfJournal}}
                </p>
              </ng-template>
            </td>
            <td>{{membership.dateOfEntry}}</td>
            <td class="text-center">
              <a class="view" (click)="edit(membership)">
                <i class="fa fa-share-square-o"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #CreateOrUpdate>
  <div class="input-group mt-3 mb-3">

    <!-- наименование организации-->
    <div class="col-md-6">
      <div class="form-group">
        <label *ngIf="type==1;else name">Наименование организации:</label>
        <ng-template #name><label>Наименование журнала:</label></ng-template>
        <input type="text" [(ngModel)]="membership.nameOfCompany" class="form-control" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label *ngIf="type==1;else status">Cтатус в организации:</label>
        <ng-template #status><label>Статус в редколлегии журнала:</label></ng-template>
        <input type="text" [(ngModel)]="membership.statusInTheOrganization" class="form-control" />
      </div>
    </div>

    <div class="col-md-12">
      <div *ngIf="type==1;else site" class="form-group">
        <label>Сайт организации:</label>
        <input type="text" [(ngModel)]="membership.siteOfTheOrganization" class="form-control" />
      </div>
      <ng-template #site>
        <label>Дата вступления</label>
        <ngbd-datepicker-adapter [(date)]="membership.dateOfEntry" binding-label-input="dateOfEntry"></ngbd-datepicker-adapter>
      </ng-template>
    </div>

    <div class="col-md-12">
      <div *ngIf="type==1;else date" class="form-group">
        <label>Дата вступления</label>
        <ngbd-datepicker-adapter [(date)]="membership.dateOfEntry" binding-label-input="dateOfEntry"></ngbd-datepicker-adapter>
      </div>
      <ng-template #date>
        <label class="mt-3">Сайт журнала:</label>
        <input type="text" [(ngModel)]="membership.siteOfJournal" class="form-control mb-3" />
      </ng-template>
    </div>

    <div class="col-md-12">
      <button type="button" class="btn btn-outline-dark" (click)="save()">
        <span><b>Сохранить</b></span>
      </button>
      <button type="button" class="btn btn-outline-dark ml-2" *ngIf="isNew" (click)="cancel()">
        <span><b>Отменить</b></span>
      </button>
      <button type="button" class="btn btn-outline-dark ml-2" *ngIf="!isNew" (click)="backward()">
        <span><b> Назад </b></span>
      </button>
    </div>

  </div>
</ng-template>
