<div class="input-group mt-3 mb-3">

  <!-- Страна командирования -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Страна командирования</label>
      <input type="text" [(ngModel)]="departure.sendingCountry" class="form-control" />
    </div>
  </div>

  <!-- Город командирования -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Город командирования</label>
      <input type="text" [(ngModel)]="departure.cityOfBusiness" class="form-control" />
    </div>
  </div>

  <!-- Источник финансирования -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Источник финансирования</label>
      <input type="text" [(ngModel)]="departure.sourceOfFinancing" class="form-control" />
    </div>
  </div>

  <!-- Основание выезда -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Основание выезда</label>
      <input type="text" [(ngModel)]="departure.basicOfDeparture" class="form-control" />
    </div>
  </div>

  <!-- Принимающая организация -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Принимающая организация</label>
      <input type="text" [(ngModel)]="departure.hostOrganization" class="form-control" />
    </div>
  </div>

  <!-- Место проживания -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Место проживания</label>
      <input type="text" [(ngModel)]="departure.placeOfResidence" class="form-control" />
    </div>
  </div>

  <!-- Цель командирования -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Цель командирования</label>
      <input type="text" [(ngModel)]="departure.purposeOfTheTrip" class="form-control" />
    </div>
  </div>

  <!-- Обоснование командировки -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Обоснование командировки</label>
      <input type="text" [(ngModel)]="departure.justificationOfTheBusiness" class="form-control" />
    </div>
  </div>

  <!-- Дата начала -->
  <div class="col-md-6">
    <div class="form-group">
      <ngbd-datepicker-adapter [(date)]="departure.dateStart" title="Дата начала" binding-label-input="dateStart"></ngbd-datepicker-adapter>
      <!--<input type="date" [(ngModel)]="departure.dateStart" class="form-control" />-->
    </div>
  </div>

  <!-- Дата окончания -->
  <div class="col-md-6">
    <div class="form-group">
      <!--<label>Дата окончания</label>
      <input type="date" [(ngModel)]="departure.dateEnd" class="form-control" />-->
      <ngbd-datepicker-adapter [(date)]="departure.dateEnd" title="Дата окончания" binding-label-input="dateEnd"></ngbd-datepicker-adapter>
    </div>
  </div>

  <!-- TODO: изменить расположение кнопок -->
  <div class="col-md-12">
    <br />
  </div>

  <div class="col-md-3">
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
  </div>

  <div class="col-md-3">
    <input type="button" value="Отменить" (click)="cancel()" class="btn btn-warning" />
  </div>

  <div class="col-md-3">
    <div *ngIf="departure.id">
      <a routerLink="report/{{departure.reportId}}" class="btn btn-warning"> Отчет </a>
    </div>
  </div>

  <div class="col-md-3">
    <div *ngIf="departure.departureStatus==0 && forManager;">
      <a (click)="agree(departure.id)" class="btn btn-warning"> Согласовать </a>
    </div>
  </div>

</div>
