<div class="input-group mt-3 mb-3">

  <!-- Страна командирования -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Страна командирования</label>
      <input type="text" [(ngModel)]="departure.sendingCountry" class="form-control" />
    </div>
  </div>

  <!-- Город командирования -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Город командирования</label>
      <input type="text" [(ngModel)]="departure.cityOfBusiness" class="form-control" />
    </div>
  </div>

  <!-- Источник финансирования -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Источник финансирования</label>
      <input type="text" [(ngModel)]="departure.sourceOfFinancing" class="form-control" />
    </div>
  </div>

  <!-- Основание выезда -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Основание выезда</label>
      <input type="text" [(ngModel)]="departure.basicOfDeparture" class="form-control" />
    </div>
  </div>

  <!-- Принимающая организация -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Принимающая организация</label>
      <input type="text" [(ngModel)]="departure.hostOrganization" class="form-control" />
    </div>
  </div>

  <!-- Место проживания -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Место проживания</label>
      <input type="text" [(ngModel)]="departure.placeOfResidence" class="form-control" />
    </div>
  </div>

  <!-- Цель командирования -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Цель командирования</label>
      <input type="text" [(ngModel)]="departure.purposeOfTheTrip" class="form-control" />
    </div>
  </div>

  <!-- Обоснование командировки -->
  <div class="col-md-12">
    <div class="form-group">
      <label>Обоснование командировки</label>
      <input type="text" [(ngModel)]="departure.justificationOfTheBusiness" class="form-control" />
    </div>
  </div>

  <!-- Дата начала -->
  <div class="col-md-6">
    <div class="form-group">
      <ngbd-datepicker-adapter [(date)]="departure.dateStart" title="Дата начала" binding-label-input="dateStart"></ngbd-datepicker-adapter>
      <!--<input type="date" [(ngModel)]="departure.dateStart" class="form-control" />-->
    </div>
  </div>

  <!-- Дата окончания -->
  <div class="col-md-6">
    <div class="form-group">
      <!--<label>Дата окончания</label>
      <input type="date" [(ngModel)]="departure.dateEnd" class="form-control" />-->
      <ngbd-datepicker-adapter [(date)]="departure.dateEnd" title="Дата окончания" binding-label-input="dateEnd"></ngbd-datepicker-adapter>
    </div>
  </div>

  <!-- TODO: изменить расположение кнопок -->
  <div class="col-md-12">
    <br />
  </div>

  <!-- Кнопки Сохранить/Отменить [class.invisible]="!isNew"  -->
  <div class="col-md-4">
    <button type="button" class="btn btn-outline-dark" (click)="save()">
      <span><b>Сохранить</b></span>
    </button>
    <button type="button" class="btn btn-outline-dark ml-2" (click)="cancel()">
      <span><b>Отменить</b></span>
    </button>
  </div>

  <!-- TODO: изменить расположение кнопок -->
  <div class="col-md-8">
    <br />
  </div>

  <!-- Кнопки -->
  <div class="col-md-12 text-right" *ngIf="!isNew">
    <!-- Кнопки Согласовать выезд и Отчет -->
    <a *ngIf="departure.departureStatus==0 && !forManager;" (click)="agree(departure.id)" class="btn btn-warning"> Согласовать </a>
    <a *ngIf="departure.reportId; else newReport" routerLink="report/{{departure.reportId}}" class="btn btn-warning ml-2"> Отчет </a>

    <ng-template #newReport>
      <a routerLink="report" class="btn btn-warning ml-2"> Отчет </a>
    </ng-template>
  </div>
</div>
