<header *ngIf="authService.isLoggedIn">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-2">
    <span style="font-size: 30px;cursor: pointer;color: #fff" (click)="openNav()">&#9776;</span>
    <div class="container">
      <a class="navbar-brand" href="#">
        <img [src]="logoRelativePath" [alt]="logoAlt" width="40">
      </a>
      <div class="text-white mr-auto">
        <h2>{{logoTitle}}</h2>
      </div>
      <div id="mySidenav" class="sidenav">
        <!-- Cпециальная кнопка для раскрытия меню -->
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a class="nav-link active" routerLink="profile/{{profileId}}/employee/{{employeeId}}">
          <i class="fa fa-home fa-fw"></i>
          Главная
        </a>
        <a class="nav-link" routerLink="chat/{{profileId}}">
          <i class="fa fa-envelope-o fa-fw"></i>
          Сообщения
        </a>
        <a class="nav-link" routerLink="profile/{{profileId}}/employee/{{employeeId}}/invitation">
          <i class="fa fa-globe fa-fw"></i>
          Приглашения
        </a>
        <a class="nav-link" routerLink="profile/{{profileId}}/employee/{{employeeId}}/departure/form/{{departureId}}">
          <i class="fa fa-plane fa-fw"></i>
          Выезды
        </a>
        <a class="nav-link" routerLink="profile/{{profileId}}/employee/{{employeeId}}/publish/{{publicationId}}">
          <i class="fa fa-university fa-fw"></i>
          Публикации
        </a>
        <a class="nav-link" style="cursor: pointer;">
          <i class="fa fa-briefcase fa-fw"></i>
          Проекты
        </a>
        <a class="nav-link" style="cursor: pointer;">
          <i class="fa fa-cogs fa-fw"></i>
          Настройки
        </a>
        <a class="nav-link" style="cursor: pointer;">
          <i class="fa fa-flag-o fa-fw"></i>
          Помощь
        </a>
      </div>
      <div class="input-group w-auto">
        <!-- Отключил, так как еще неработает -->
        <input type="text" class="form-control" placeholder="Поиск..." disabled="disabled" title="Будет работать в следующих версиях">
        <div class="input-group-append">
          <!-- Отключил, так как еще неработает -->
          <button type="button" class="btn btn-warning" disabled="disabled" title="Будет работать в следующих версиях">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="ml-2 btn btn-warning" (click)="onLogout()">
            <span><b>Выйти</b></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
